body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:url("images/table.jpg");
    background-size: cover;
    font-weight: bold;
    text-align: center;
    color: white;
}

h1{
    color: yellow;
    font-size: 70px;
    
}

#message-el{
    font-style: italic;
    font-size: 25px;
}

#start-el{
    text-align: center;
    color: #016f32;
    background: goldenrod;
    font-size: 20px;
}

#stand-el{
    text-align: center;
    color: #016f32;
    background: goldenrod;
    font-size: 20px;
}

#hit-el{
    text-align: center;
    color: #016f32;
    background: goldenrod;
    font-size: 20px;
}

.userCard {
    display: none;
    text-align: left;
}

.dealerCard {
    display: none;
    text-align: right;
}
